@charset "UTF-8";
.wrapper-lg {
  width: 80vw;
  max-width: 1240px;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .wrapper-lg {
    width: 90vw;
  }
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 86px;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  nav ul {
    display: none;
  }
}

nav ul a {
  margin-left: 20px;
  padding: 5px 20px;
  background-color: #ff4d57;
  border-radius: 100px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

nav ul a li {
  color: white;
}

nav ul a:hover {
  background-color: #0D0D0D;
}

nav .logo h1 {
  color: #0D0D0D;
  font-size: 34px;
  font-size: 3.4rem;
  font-weight: 400;
}

.header {
  text-align: center;
  margin-bottom: 80px;
  padding-bottom: 50px;
  padding-top: 15px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
}

.header::after {
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  -webkit-animation: line 3s ease-in-out forwards;
          animation: line 3s ease-in-out forwards;
}

@-webkit-keyframes line {
  to {
    width: 75%;
    background-color: #0D0D0D;
  }
}

@keyframes line {
  to {
    width: 75%;
    background-color: #0D0D0D;
  }
}

.header .header-svg {
  -webkit-animation: fill .5s ease forwards 2s;
          animation: fill .5s ease forwards 2s;
  width: 353px;
  height: 81px;
}

@media screen and (max-width: 576px) {
  .header .header-svg {
    width: 200px;
  }
}

.header .header-svg path:nth-child(1) {
  stroke-dasharray: 349;
  stroke-dashoffset: 349;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(2) {
  stroke-dasharray: 109;
  stroke-dashoffset: 109;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(3) {
  stroke-dasharray: 121;
  stroke-dashoffset: 121;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(4) {
  stroke-dasharray: 253;
  stroke-dashoffset: 253;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(5) {
  stroke-dasharray: 191;
  stroke-dashoffset: 191;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(6) {
  stroke-dasharray: 349;
  stroke-dashoffset: 349;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(7) {
  stroke-dasharray: 131;
  stroke-dashoffset: 131;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(8) {
  stroke-dasharray: 218;
  stroke-dashoffset: 218;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.header .header-svg path:nth-child(9) {
  stroke-dasharray: 340;
  stroke-dashoffset: 340;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #0D0D0D;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #0D0D0D;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 12px 20px;
}

.filter__input {
  font-family: 'Avenir Next';
  padding: 10px 20px;
  outline: none;
  border: #E1E6F9 1px solid;
  border-radius: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #646B8C;
}

.filter__input:focus {
  border-color: #2b52d0;
  -webkit-box-shadow: 0 0 0px 0.5px #275EFE;
          box-shadow: 0 0 0px 0.5px #275EFE;
}

.filter__input::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

.filter__input:-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

.filter__input::-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

.filter__input::placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 576px) {
  .filter__input::-webkit-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .filter__input:-ms-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .filter__input::-ms-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .filter__input::placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.filter__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 650px;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 1120px) {
  .filter__categories {
    max-width: 1240px;
  }
}

@media screen and (max-width: 767px) {
  .filter__categories {
    display: none;
  }
}

.filter__categories a {
  text-decoration: none;
  background-color: #E1E6F9;
  color: #0D0D0D;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}

.skeleton-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.skeleton-article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.333333%;
  padding: 20px;
}

@media screen and (max-width: 991px) {
  .skeleton-article {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .skeleton-article {
    width: 100%;
  }
}

.skeleton {
  opacity: .7;
  height: 160px;
  width: 100%;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .skeleton {
    height: 300px;
  }
}

@media screen and (max-width: 571px) {
  .skeleton {
    height: 160px;
  }
}

.skeleton-text {
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 1.25px;
}

.skeleton-text:first-child {
  width: 30%;
}

.skeleton-text:nth-child(2) {
  width: 50%;
}

.skeleton-text:last-child {
  width: 80%;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

.article-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.3333%;
}

@media screen and (max-width: 991px) {
  .article-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .article-wrapper {
    width: 100%;
  }
}

.article {
  margin-bottom: 20px;
  padding: 0px 12px;
}

.article-anchor {
  text-decoration: none;
}

.article-image img {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.article-body {
  padding: 12px 20px 40px 8px;
}

.article-published {
  font-size: 14px;
  font-size: 1.4rem;
  color: #0D0D0D;
  margin-bottom: 12px;
  opacity: 0.8;
}

.article-title {
  font-size: 28px;
  font-size: 2.8rem;
  color: #0D0D0D;
  margin-bottom: 12px;
  font-weight: 400;
}

.article-description {
  font-size: 15px;
  color: #404E59;
}

@media screen and (min-width: 991px) {
  .featured-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

.featured-article {
  margin-bottom: 80px;
  padding: 0px 12px;
}

@media screen and (max-width: 991px) {
  .featured-article {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 991px) {
  .featured-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.333333%;
  }
}

.featured-image img {
  border-radius: 8px;
  overflow: hidden;
}

.featured-body {
  padding: 0px 20px 40px 10px;
}

@media screen and (min-width: 991px) {
  .featured-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666667%;
  }
}

@media screen and (max-width: 991px) {
  .featured-body {
    padding: 12px 20px 40px 8px;
  }
}

.featured-title {
  font-size: 50px;
  font-size: 5rem;
}

@media screen and (max-width: 1201px) {
  .featured-title {
    font-size: 35px;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 991px) {
  .featured-title {
    font-size: 28px;
    font-size: 2.8rem;
  }
}

.featured-description p {
  font-size: 16px;
  font-size: 1.6rem;
  color: #404E59;
}

@media screen and (max-width: 991px) {
  .featured-description p {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.post-header {
  width: 60%;
}

@media screen and (max-width: 1201px) {
  .post-header {
    width: 100%;
  }
}

.post-header .skeleton-wrapper-post {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.post-header .skeleton-post {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .post-header .skeleton-post {
    width: 90%;
  }
}

@media screen and (min-width: 1201px) {
  .post-header .skeleton-post-image {
    height: 500px;
  }
}

@media screen and (min-width: 767px) {
  .post-header .skeleton-post-image {
    height: 400px;
  }
}

@media screen and (min-width: 576px) {
  .post-header .skeleton-post-image {
    height: 300px;
  }
}

.post-header__category {
  font-weight: bold;
}

.post-header__title {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .post-header__title {
    font-size: 35px;
  }
}

.post-header__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.post-header__social-media i {
  margin-right: 10px;
}

.post-header__social-media .published {
  font-size: 14px;
  font-size: 1.4rem;
  opacity: .8;
}

.post-header__image {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.post-body .un-ordered-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .post-body .un-ordered-list {
    width: 41.666667%;
  }
}

.post-body .ordered-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .post-body .ordered-list {
    width: 50%;
  }
}

.post-body img {
  width: 100%;
  border-radius: 8px;
}

.post-body ul, .post-body ol {
  font-size: 16px;
  font-size: 1.6rem;
}

.post-body ul li, .post-body ol li {
  padding: 0px 16px 12px 24px;
  margin-top: 8px;
}

.post-body ul li:first-child, .post-body ol li:first-child {
  font-size: 24px;
  font-size: 2.4rem;
  padding: 16px 16px 16px 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-body ul li:first-child::before, .post-body ol li:first-child::before {
  content: '';
}

.post-body ul {
  list-style: none;
}

.post-body ul li::before {
  content: '•';
  color: #ff4d57;
  padding-right: 10px;
}

.post-body .styling {
  font-size: 18px;
  font-size: 1.8rem;
  padding-left: 12px;
}

.post-body .styling strong {
  font-weight: normal;
}

.post-body .styling::before {
  content: '';
}

.post-body ol {
  list-style-type: none;
  counter-reset: section -1;
}

.post-body ol li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
  padding-right: 5px;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #ff4d57;
}

@media screen and (max-width: 576px) {
  .post-body ol li::before {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 991px) {
  .post-body ol, .post-body ul {
    width: 75%;
  }
  .post-body ol li, .post-body ul li {
    font-size: 20px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .post-body ol, .post-body ul {
    width: 100%;
  }
  .post-body ol li, .post-body ul li {
    font-size: 1em;
  }
}

.post-body h4 {
  font-size: 20px;
  font-size: 2rem;
}

.post-body p {
  width: 60%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir Next';
  font-size: 16px;
  color: #0D0D0D;
  background-color: white;
  overflow-x: hidden;
  height: auto;
}
/*# sourceMappingURL=style.css.map */