@charset "UTF-8";
.wrapper-lg {
  width: 80vw;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  .wrapper-lg {
    width: 90vw;
  }
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 86px;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
}

nav ul a {
  margin-left: 20px;
  padding: 5px 20px;
  background-color: #ff4d57;
  border-radius: 100px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

nav ul a li {
  color: white;
}

nav ul a:hover {
  background-color: #0D0D0D;
}

nav .logo h1 {
  color: #404E59;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  display: inline-block;
}

nav .logo h1::after {
  -webkit-transition: width 0.3s ease, left 0.3s ease;
  transition: width 0.3s ease, left 0.3s ease;
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #404E59;
  bottom: 0;
  left: 50%;
}

nav .logo h1:hover:after {
  width: 100%;
  left: 0;
}

nav .svg {
  width: 300px;
}

@media screen and (max-width: 450px) {
  nav .svg {
    width: 250px;
  }
}

.svg {
  -webkit-animation: fill-black 2s ease forwards 2s;
          animation: fill-black 2s ease forwards 2s;
}

.svg path:nth-child(1) {
  stroke-dasharray: 203;
  stroke-dashoffset: 203;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(2) {
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(3) {
  stroke-dasharray: 219;
  stroke-dashoffset: 219;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(4) {
  stroke-dasharray: 228;
  stroke-dashoffset: 228;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(5) {
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(6) {
  stroke-dasharray: 134;
  stroke-dashoffset: 134;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(7) {
  stroke-dasharray: 243;
  stroke-dashoffset: 243;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(8) {
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(9) {
  stroke-dasharray: 134;
  stroke-dashoffset: 134;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(10) {
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(11) {
  stroke-dasharray: 316;
  stroke-dashoffset: 316;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(12) {
  stroke-dasharray: 185;
  stroke-dashoffset: 185;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(13) {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(14) {
  stroke-dasharray: 182;
  stroke-dashoffset: 182;
  -webkit-animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
          animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
}

.svg path:nth-child(15) {
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  -webkit-animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
          animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
}

.svg path:nth-child(16) {
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  -webkit-animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
          animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
}

.svg path:nth-child(17) {
  stroke-dasharray: 276;
  stroke-dashoffset: 276;
  -webkit-animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
          animation: line-anim 2s ease forwards, fill-red 1s ease forwards 2s;
}

.svg path:nth-child(18) {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(19) {
  stroke-dasharray: 185;
  stroke-dashoffset: 185;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.svg path:nth-child(20) {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill-black {
  from {
    fill: transparent;
  }
  to {
    fill: #0D0D0D;
  }
}

@keyframes fill-black {
  from {
    fill: transparent;
  }
  to {
    fill: #0D0D0D;
  }
}

@-webkit-keyframes fill-red {
  from {
    fill: transparent;
  }
  to {
    fill: #ff4d57;
  }
}

@keyframes fill-red {
  from {
    fill: transparent;
  }
  to {
    fill: #ff4d57;
  }
}

main {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  main {
    margin-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  main {
    margin-top: 20px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 12px 20px;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #E1E6F9;
  border-radius: 100px;
  opacity: 0;
  height: 35px;
}

.filter__clearBtn {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-right: 10px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 0;
}

.filter__clearBtn img {
  width: 20px;
  height: 20px;
}

.filter__clearBtn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.filter__input {
  font-family: 'Avenir Next';
  padding: 10px 20px;
  outline: none;
  border-radius: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #646B8C;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 14px;
  font-size: 1.4rem;
  border: none;
  color: #404E59;
}

.filter__input::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

.filter__input:-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

.filter__input::-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

.filter__input::placeholder {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 576px) {
  .filter__input::-webkit-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .filter__input:-ms-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .filter__input::-ms-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .filter__input::placeholder {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.filter__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 650px;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 1120px) {
  .filter__categories {
    max-width: 1240px;
  }
}

.category-btn {
  color: #404E59;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: transparent;
  border: white 1.5px solid;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 0;
}

.category-btn:hover {
  color: #ff4d57;
}

.active {
  border: #E1E6F9 1.5px solid;
  color: #ff4d57;
}

.show {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  opacity: 1;
}

.skeleton-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.skeleton-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 991px) {
  .skeleton-featured {
    display: none;
  }
}

.skeleton-featured-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.333333%;
  opacity: .7;
  height: 360px;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 8px;
  margin-bottom: 10px;
}

.skeleton-featured-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.6666667%;
  padding-left: 20px;
  padding-top: 40px;
}

.skeleton-article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.333333%;
  padding: 20px;
}

@media screen and (max-width: 991px) {
  .skeleton-article {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .skeleton-article {
    width: 100%;
  }
}

.skeleton {
  opacity: .7;
  height: 160px;
  width: 100%;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .skeleton {
    height: 300px;
  }
}

@media screen and (max-width: 571px) {
  .skeleton {
    height: 160px;
  }
}

.skeleton-text {
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 1.25px;
}

.skeleton-text:first-child {
  width: 30%;
}

.skeleton-text:nth-child(2) {
  width: 50%;
}

.skeleton-text:last-child {
  width: 80%;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

.article-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.3333%;
}

@media screen and (max-width: 991px) {
  .article-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .article-wrapper {
    width: 100%;
  }
}

.article {
  margin-bottom: 20px;
  padding: 0px 12px;
}

.article-anchor {
  text-decoration: none;
}

.article-image img {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.article-body {
  padding: 12px 20px 40px 8px;
}

.article-category {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ff4d57;
  margin-bottom: 12px;
  background-color: rgba(255, 77, 87, 0.1);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
}

.article-title {
  font-size: 28px;
  font-size: 2.8rem;
  color: #0D0D0D;
  margin-bottom: 12px;
  font-weight: 400;
}

.article-description {
  font-size: 15px;
  color: #404E59;
  margin-bottom: 12px;
}

.article-published {
  font-size: 12px;
  font-size: 1.2rem;
  color: #0D0D0D;
  opacity: .5;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 991px) {
  .featured-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

.featured-article {
  margin-bottom: 80px;
  padding: 0px 12px;
}

@media screen and (max-width: 991px) {
  .featured-article {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 991px) {
  .featured-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.333333%;
  }
}

.featured-image img {
  border-radius: 8px;
  overflow: hidden;
}

.featured-body {
  padding: 0px 20px 40px 10px;
}

@media screen and (min-width: 991px) {
  .featured-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666667%;
  }
}

@media screen and (max-width: 991px) {
  .featured-body {
    padding: 12px 20px 40px 8px;
  }
}

.featured-title {
  font-size: 50px;
  font-size: 5rem;
}

@media screen and (max-width: 1201px) {
  .featured-title {
    font-size: 35px;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 991px) {
  .featured-title {
    font-size: 28px;
    font-size: 2.8rem;
  }
}

.featured-description p {
  font-size: 16px;
  font-size: 1.6rem;
  color: #404E59;
  margin-bottom: 12px;
}

@media screen and (max-width: 991px) {
  .featured-description p {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.post-header {
  width: 60%;
}

@media screen and (max-width: 1201px) {
  .post-header {
    width: 100%;
  }
}

.post-header .skeleton-wrapper-post {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 72px;
}

.post-header .skeleton-post {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .post-header .skeleton-post {
    width: 90%;
  }
}

.post-header .skeleton-post .post {
  width: 90%;
}

.post-header .skeleton-post .post:last-child {
  width: 80%;
}

@media screen and (min-width: 1201px) {
  .post-header .skeleton-post-image {
    height: 500px;
  }
}

@media screen and (min-width: 767px) {
  .post-header .skeleton-post-image {
    height: 400px;
  }
}

@media screen and (min-width: 576px) {
  .post-header .skeleton-post-image {
    height: 300px;
  }
}

.post-header__title {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .post-header__title {
    font-size: 35px;
  }
}

.post-header__category {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ff4d57;
  margin-bottom: 12px;
  background-color: rgba(255, 77, 87, 0.1);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
}

.post-header__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.post-header__social-media i {
  margin-right: 10px;
}

.post-header__social-media .published {
  font-size: 14px;
  font-size: 1.4rem;
  opacity: .8;
}

.post-header__image {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.post-body {
  margin-bottom: 72px;
}

.post-body a:link {
  color: #2b52d0;
}

.post-body a:visited {
  color: #2b52d0;
}

.post-body .unordered-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .post-body .unordered-list {
    width: 41.666667%;
  }
}

.post-body .ordered-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .post-body .ordered-list {
    width: 50%;
  }
}

.post-body img {
  width: 100%;
  border-radius: 8px;
}

.post-body ul, .post-body ol {
  font-size: 16px;
  font-size: 1.6rem;
}

.post-body ul li, .post-body ol li {
  padding: 0px 16px 12px 24px;
  margin-top: 8px;
}

.post-body ul li:first-child, .post-body ol li:first-child {
  font-size: 24px;
  font-size: 2.4rem;
  padding: 16px 16px 16px 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-body ul li:first-child::before, .post-body ol li:first-child::before {
  content: '';
}

.post-body ul {
  list-style: none;
}

.post-body ul li::before {
  content: '•';
  color: #ff4d57;
  padding-right: 10px;
}

.post-body .sub-heading {
  font-size: 18px;
  font-size: 1.8rem;
  padding-left: 12px;
}

@media screen and (max-width: 991px) {
  .post-body .sub-heading {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

.post-body .sub-heading strong {
  font-weight: normal;
}

.post-body .sub-heading::before {
  content: '';
}

.post-body ol {
  list-style-type: none;
  counter-reset: section -1;
}

.post-body ol li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
  padding-right: 5px;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #ff4d57;
}

@media screen and (max-width: 576px) {
  .post-body ol li::before {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 991px) {
  .post-body ol, .post-body ul {
    width: 75%;
  }
  .post-body ol li, .post-body ul li {
    font-size: 20px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .post-body ol, .post-body ul {
    width: 100%;
  }
  .post-body ol li, .post-body ul li {
    font-size: 1em;
  }
}

.post-body h4 {
  font-size: 20px;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 10px;
}

.post-body p {
  width: 60%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  max-width: 1240px;
  border-top: 1px solid #E1E6F9;
  margin: auto;
}

footer h2 {
  margin-bottom: 20px;
  color: #404E59;
}

footer .mc-field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E1E6F9;
  padding: 2px;
  border-radius: 100px;
}

footer .mc-field-group .required {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 14px;
  font-size: 1.4rem;
  border: none;
  padding: 10px;
  border-radius: 100px;
  font-weight: 600;
  color: #404E59;
}

footer .mc-field-group .required:focus {
  outline: none;
}

footer .mc-field-group #mc-embedded-subscribe {
  border: 1px solid #ff4d57;
  background: #ff4d57;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 600;
  line-height: 180%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

footer .mc-field-group #mc-embedded-subscribe:hover {
  background-color: rgba(255, 77, 87, 0.9);
}

.social-media a i {
  font-size: 24px;
  font-size: 2.4rem;
  margin-left: 10px;
  color: #ff4d57;
}

.social-media a i:hover {
  color: rgba(255, 77, 87, 0.9);
}

.gallery-title {
  text-align: center;
  font-size: 64px;
  font-size: 6.4rem;
}

.gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 72px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4px;
  max-width: 1240px;
}

.gallery-row figure {
  margin-bottom: 7vw;
  overflow: hidden;
}

.gallery-row figure img {
  width: 100%;
  height: 100%;
}

.gallery-row a {
  margin-bottom: 7vw;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.gallery-row a img {
  width: 100%;
  height: 100%;
}

.gallery-row a h2 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: underline;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir Next';
  font-size: 16px;
  color: #0D0D0D;
  background-color: white;
  overflow-x: hidden;
  height: auto;
  position: relative;
}
