
.header {
  text-align: center;
  margin-bottom: 80px;
  padding-bottom: 50px;
  padding-top: 15px;
  position: relative;

  @media screen and (max-width: $mq-tablet) {
    padding-bottom: 10px;
    margin-bottom: 40px;
   }
  

  &::after {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  animation: line 3s ease-in-out forwards;

  }

  @keyframes line {
    to {
      width: 75%;
      background-color: $black-color;
    }
  }


  .header-svg {
    animation: fill .5s ease forwards 2s;
    width: 353px;
    height: 81px;
    @media screen and (max-width: $mq-phone) {
     width: 200px;
    }
  }

  .header-svg path:nth-child(1) { 
    stroke-dasharray: 349;
    stroke-dashoffset: 349;
    animation: line-anim 2s ease forwards;
  }


  .header-svg path:nth-child(2) { 
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    animation: line-anim 2s ease forwards;
  }


  .header-svg path:nth-child(3) { 
    stroke-dasharray: 121;
    stroke-dashoffset: 121;
    animation: line-anim 2s ease forwards;
  }


  .header-svg path:nth-child(4) { 
    stroke-dasharray: 253;
    stroke-dashoffset: 253;
    animation: line-anim 2s ease forwards;
  }

  .header-svg path:nth-child(5) { 
    stroke-dasharray: 191;
    stroke-dashoffset: 191;
    animation: line-anim 2s ease forwards;
  }

  .header-svg path:nth-child(6) { 
    stroke-dasharray: 349;
    stroke-dashoffset: 349;
    animation: line-anim 2s ease forwards;
  }

  .header-svg path:nth-child(7) { 
    stroke-dasharray: 131;
    stroke-dashoffset: 131;
    animation: line-anim 2s ease forwards;
  }

  .header-svg path:nth-child(8) { 
    stroke-dasharray: 218;
    stroke-dashoffset: 218;
    animation: line-anim 2s ease forwards;
  }

  .header-svg path:nth-child(9) { 
    stroke-dasharray: 340;
    stroke-dashoffset: 340;
    animation: line-anim 2s ease forwards;
  }
}
  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fill {
    from {
      fill: transparent
    }
    to {
      fill: $black-color;
    }
  }

  .filter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 12px 20px;



    &__input {
      font-family: 'Avenir Next';
      padding: 10px 20px;
      outline: none;
      border: $light-gray-color 1px solid;
      border-radius: 20px;
      transition: all .3s ease-in-out;
      color: $input-color;
    }

    &__input:focus {
      border-color: $blue-color;
      box-shadow: 0 0 0px .5px $input-shadow-color;
    }

    &__input::placeholder {
      font-size: 16px;
      font-size: 1.6rem;
      @media screen and (max-width: $mq-phone) {
        font-size: 14px;
        font-size: 1.4rem;
      }
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      max-width: 650px;
      font-size: 16px;
      font-size: 1.6rem;

      @media screen and (max-width: 1120px) {
        max-width: 1240px;
      }
      // @media screen and (max-width: $mq-tablet) {
      //    display: none;
      // }

      button {
        color: $gray-color;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-radius: 20px;
        font-weight: bold;
        background-color: transparent;
        border: white 1.5px solid;
        cursor: pointer;
        transition: all .2s ease-in-out;
      }
      .active {
        border: $light-gray-color 1.5px solid;
        color: $red-ish-color;

      }
    }
  }



  .skeleton-wrapper { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .skeleton-article {
    flex: 0 0 auto;
    width: 33.333333%;
    padding: 20px;
    @media screen and (max-width: $mq-computer) { 
      width: 50%;
    }
    @media screen and (max-width: $mq-tablet) { 
      width: 100%;
    }
  }
  .skeleton {
    opacity: .7;
    height: 160px;
    width: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 8px;
    margin-bottom: 10px;

    @media screen and (max-width: $mq-tablet) {
      height: 300px;
    }
    @media screen and (max-width: 571px) {
      height: 160px;
    }
  }


  .skeleton-text {
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 1.25px;

    &:first-child {
      width: 30%;
    }
    &:nth-child(2) {
      width: 50%;
    }
    &:last-child {
      width: 80%;
    }
  }


  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

  .article-wrapper {
    flex: 0 0 auto;
    width: 33.3333%;
    // opacity: 0;
    // transition: all 500ms;
    // transform: scale(0.9);
    // &.been-in-view{
    //   opacity: 1;
    //   transform: scale(1);
    // }

    @media screen and (max-width: $mq-computer) {
      width: 50%;
    }

    @media screen and (max-width: $mq-tablet) {
      width: 100%;
    }
  }

  .article {
    margin-bottom: 20px;
    padding: 0px 12px;
  }

  .article-anchor {
    text-decoration: none;
  }

  .article-image img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

     }

  .article-body {
    padding: 12px 20px 40px 8px;
  }

  .article-published {
    font-size: 14px;
    font-size: 1.4rem;
    color: $black-color;
    margin-bottom: 12px;
    opacity: 0.8;
}

  .article-title {
    font-size: 28px;
    font-size: 2.8rem;
    color: $black-color;
    margin-bottom: 12px;
    font-weight: 400;
}
   
  .article-description {
    font-size: 15px;
    color: $gray-color;
}
  .featured-wrapper {
    @media screen and (min-width: $mq-computer) {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  
  .featured-article {
    margin-bottom: 80px;
    padding: 0px 12px;
    @media screen and (max-width: $mq-computer) {
      margin-bottom: 20px;
    }
  }

  .featured-image {
    @media screen and (min-width: $mq-computer) {
      flex: 0 0 auto;
      width: 58.333333%;
    }
    img {
      border-radius: 8px;
      overflow: hidden;
    }
  }

  .featured-body {
    padding: 0px 20px 40px 10px;
      @media screen and (min-width: $mq-computer) {
        flex: 0 0 auto;
        width: 41.6666667%;
      }
      @media screen and (max-width: $mq-computer) {
        padding: 12px 20px 40px 8px;
      }
    }
  
  .featured-title {
    font-size: 50px;
    font-size: 5rem;
          
  
      @media screen and (max-width: $mq-large-screens) {
        font-size: 35px;
        font-size: 3.5rem;
      }
  
      @media screen and (max-width: $mq-computer) {
        font-size: 28px;
        font-size: 2.8rem;
      }
  }
     
  
  .featured-description {
    p {
      font-size: 16px;
      font-size: 1.6rem;
      color: $gray-color;
        @media screen and (max-width: $mq-computer) {
          font-size: 15px;
          font-size: 1.5rem;
        }
    }
  }
    




