main {
  margin-top: 80px;

  @media screen and (max-width: $mq-tablet) {
    margin-top: 60px;
  }
  @media screen and (max-width: $mq-phone) {
    margin-top: 20px;
  }
}

  .filter {
    display: flex;
    // align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 12px 20px;

    &__form {
    display:flex;
    flex-direction:row;
    border: 1px solid $light-gray-color;
    padding: 2px;
    border-radius: 100px;
    opacity: 0;
    }

    &__clearBtn {
      border: none;
      background-color: white;
      cursor: pointer;
      margin-right: 10px;
      height: 20px;
      align-self: center;
      transition: opacity .2s ease-in-out;
      opacity: 0;

      img {
       width: 20px;
       height: 20px;
      }

      &:active {
        transform: scale(.95);
      }
    }

    &__input {
      font-family: 'Avenir Next';
      padding: 7px 20px;
      outline: none;
      // border: $light-gray-color 1px solid;
      border-radius: 20px;
      transition: all .3s ease-in-out;
      color: $input-color;
      flex-grow: 2;
      font-size: 14px;
      font-size: 1.4rem;
      border:none;
      // font-weight: 600;
      color: $gray-color;
      
    }

    // &__input:focus {
    //   border-color: $blue-color;
    //   box-shadow: 0 0 0px .5px $input-shadow-color;
    // }

    &__input::placeholder {
      font-size: 16px;
      font-size: 1.6rem;
      @media screen and (max-width: $mq-phone) {
        font-size: 14px;
        font-size: 1.4rem;
      }
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      max-width: 650px;
      font-size: 16px;
      font-size: 1.6rem;

      @media screen and (max-width: 1120px) {
        max-width: 1240px;
      }
      // @media screen and (max-width: $mq-tablet) {
      //    display: none;
      // }

    }
  }
  .category-btn {
    color: $gray-color;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    background-color: transparent;
    border: white 1.5px solid;
    cursor: pointer;
    transition: all .2s ease-in-out; 
    opacity: 0;

    &:hover {
      color: $red-ish-color;
    }
  }
  .active {
    border: $light-gray-color 1.5px solid;
    color: $red-ish-color;
  }
  
  .show {
    transition: all .2s ease-in;
    opacity: 1;
  }

  // Skeleton
  
  .skeleton-wrapper { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .skeleton-featured {
    display: flex;
    width: 100%;
    padding: 20px;
    @media screen and (max-width: $mq-computer) { 
      display: none;
    }
  }

  .skeleton-featured-image {
    flex: 0 0 auto;
    width: 58.333333%;
    opacity: .7;
    height: 360px;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .skeleton-featured-body {
    flex: 0 0 auto;
    width: 41.6666667%;
    padding-left: 20px;
    padding-top: 40px;
  }

  .skeleton-article {
    flex: 0 0 auto;
    width: 33.333333%;
    padding: 20px;
    @media screen and (max-width: $mq-computer) { 
      width: 50%;
    }
    @media screen and (max-width: $mq-tablet) { 
      width: 100%;
    }
  }
  .skeleton {
    opacity: .7;
    height: 160px;
    width: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 8px;
    margin-bottom: 10px;

    @media screen and (max-width: $mq-tablet) {
      height: 300px;
    }
    @media screen and (max-width: 571px) {
      height: 160px;
    }
  }

  .skeleton-text {
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 1.25px;

    &:first-child {
      width: 30%;
    }
    &:nth-child(2) {
      width: 50%;
    }
    &:last-child {
      width: 80%;
    }
  }


  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  .article-wrapper {
    flex: 0 0 auto;
    width: 33.3333%;
    // transition: all 500ms;
    // transform: scale(0.9);
    // &.been-in-view{
    //   opacity: 1;
    //   transform: scale(1);
    // }

    @media screen and (max-width: $mq-computer) {
      width: 50%;
    }

    @media screen and (max-width: $mq-tablet) {
      width: 100%;
    }
  }

  .article {
    margin-bottom: 20px;
    padding: 0px 12px;
    
  }

  .article-anchor {
    text-decoration: none;
  }

  .article-image img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

     }

  .article-body {
    padding: 12px 20px 40px 8px;
  }

  .article-category {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    color: $red-ish-color;
    margin-bottom: 12px;
    background-color: rgba($color: $red-ish-color, $alpha: .1);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px; 
}

  .article-title {
    font-size: 28px;
    font-size: 2.8rem;
    color: $black-color;
    margin-bottom: 12px;
    font-weight: 400;
}
   
  .article-description {
    font-size: 15px;
    color: $gray-color;
    margin-bottom: 12px;
}

.article-published {
  font-size: 12px;
  font-size: 1.2rem;
  color: $black-color;
  opacity: .5;
  font-weight: bold;
  text-transform: uppercase;
}
  .featured-wrapper {
    @media screen and (min-width: $mq-computer) {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  
  .featured-article {
    margin-bottom: 80px;
    padding: 0px 12px;
    @media screen and (max-width: $mq-computer) {
      margin-bottom: 20px;
    }
  }

  .featured-image {
    @media screen and (min-width: $mq-computer) {
      flex: 0 0 auto;
      width: 58.333333%;
    }
    img {
      border-radius: 8px;
      overflow: hidden;
    }
  }

  .featured-body {
    padding: 0px 20px 40px 10px;
      @media screen and (min-width: $mq-computer) {
        flex: 0 0 auto;
        width: 41.6666667%;
      }
      @media screen and (max-width: $mq-computer) {
        padding: 12px 20px 40px 8px;
      }
    }
  
  .featured-title {
    font-size: 50px;
    font-size: 5rem;
          
  
      @media screen and (max-width: $mq-large-screens) {
        font-size: 35px;
        font-size: 3.5rem;
      }
  
      @media screen and (max-width: $mq-computer) {
        font-size: 28px;
        font-size: 2.8rem;
      }
  }
     
  
  .featured-description {
    p {
      font-size: 16px;
      font-size: 1.6rem;
      color: $gray-color;
      margin-bottom: 12px;
        @media screen and (max-width: $mq-computer) {
          font-size: 15px;
          font-size: 1.5rem;
        }
    }
  }




