nav {
  display: flex;
  justify-content: center;
  height: 86px;
  width: 100vw;

  a {
    text-decoration: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

   

    .logo {
      font-weight: 100;
      color: $gray-color;

      &:hover {
        color: $gray-color;
      }
    }

    ul {
      display: flex;
      list-style: none;

      @media screen and (max-width: $mq-phone) {
        display: none;
      }

      li {
        background-color: $red-ish-color;
        margin-left: 20px;
        padding: 5px 15px;
        border-radius: 20px;
        color: white;
        transition: all .2s ease-in-out;

        &:hover {
          background-color: black;
        }
      }
  }
  }
}
