.post-header img, .post-body img {
  width: 100%;
  max-height: 460px;
  border-radius: 8px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  // column-gap: 20px;

  @media screen and (max-width: $mq-phone) {
    flex-direction: column;
  }

  i {
    font-size: 1.5em;
    // font-weight: 100;
    padding-left: 10px;
  }

  i:first-child  {
    padding-left: 0;
  }

}

.post-body {
  padding-bottom: 7vw;

  h4, h5 {
    margin-bottom: 24px;
  }

  p {
    font-size: 16px;
    margin-bottom: 12px;
  }

  ul {
    list-style: none;
   
    
    li {
      background-color: darkgreen;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  // table {
  //   width: 75%;

  //   @media screen and (max-width: $mq-tablet) {
  //     width: 100%;
  //   }
  //   border-collapse: collapse;
  //   margin-bottom: 20px;

  //   tbody {
  //   display: table-row-group;
  //   vertical-align: middle;
  //   }

  //   tr {
  //     display: table-row;
  //     border-bottom: lightgray 1px solid;
  //   }
  //   td {
  //     vertical-align: top;
  //     padding: 13px;
      
  //   }
  // }

}

