.post-header {
  width: 60%;
  @media screen and (max-width: $mq-computer) {
    width: 100%;
  }

  &__category {
    font-weight: bold;
    }

  &__title {
    font-size: 48px;
    font-size: 4.8rem;
  }

  &__social-media {
    display: flex;
    margin-bottom: 10px;
    i {
      margin-right: 10px;
    }
  }

  &__image {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
  }

  &__published {
    margin-left: 8px;
    font-size: 14px;
    font-size: 1.4rem;
    opacity: .8;
  }
}





.post-body {

  img {
    width: 100%;
    border-radius: 8px;
  }

  ul, ol {
    font-size: 16px;
    font-size: 1.6rem;

    li {
      padding: 0px 16px 12px 24px;
      margin-top: 8px;
    }

    li:first-child {
      font-size: 24px;
      font-size: 2.4rem;
      padding: 16px 16px 16px 0px;
      margin-top: 8px;
      margin-bottom: 8px;
      &::before {
        content: '';
      }
    }
  }


  ul {
    list-style: none;
   
    li::before {
      content: '•';
      color: $red-ish-color;
      padding-right: 10px;
    }

  }

  .styling {
    font-size: 18px;
    font-size: 1.8rem;
    padding-left: 12px;

    strong {
      font-weight: normal;
    }
    
    &::before {
      content: '';
    }
  }

  ol {
    list-style-type: none;
    counter-reset: section -1;

    li::before {
      counter-increment: section;
      content: counters(section, ".") " "; 
      padding-right: 5px;
      font-weight: bold;
      font-size: 20px;
      font-size: 2rem;
      color: $red-ish-color;

      @media screen and (max-width: $mq-phone) {
        font-size: 16px;
        font-size: 1.6rem;
      }
    }
  }

  @media screen and (max-width: $mq-computer) {
    ol, ul {
      width: 75%;
      li {
        font-size: 20px;
        font-size: 2rem;
      }
    }
  }
  @media screen and (max-width: $mq-phone) {
    ol, ul {
      width: 100%;
      li {
        font-size: 1em;
      }
    }
  }

  // If there's any notes on the document this is the styling for that
  h4 {
    font-size: 20px;
    font-size: 2rem;
  }

  p {
    width: 60%;
  }
}

