

.post-header img, .post-body img {
  width: 100%;
  // max-height: 460px;
  border-radius: 8px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  // column-gap: 20px;

  @media screen and (max-width: $mq-phone) {
    flex-direction: column;
  }

  i {
    font-size: 1.5em;
    // font-weight: 100;
    padding-left: 10px;
  }

  i:first-child  {
    padding-left: 0;
  }

}

.post-body {

  ul, ol {
    font-size: 1.2em;
  }


  ul {
    list-style: none;
    // margin-right: 48px;
   
    li:first-child {
      list-style: none;
      background-color: transparent;
      font-size: 1.5em;
      padding: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
      &::before {
        content: '';
      }
    }
    li::before {
      content: '•';
      color: $red-ish-color;
      padding-right: 10px;
    }
    li {
      // background-color: white;
      padding: 12px 24px;
      margin-top: 4px;
      border-radius: 4px;
    }
    .styling {
      font-size: 1.1em;
      
      &::before {
        content: '';
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: section -1;

    li:first-child {
      background-color: transparent;
      font-size: 1.5em;
      &::before {
        content: '';
      }
    }
    li {
      padding: 16px;
      // background-color: white;
      border-radius: 4px;
      margin-top: 8px;
    }

    li::before {
      counter-increment: section;
      content: counters(section, ".") " "; 
      padding-right: 5px;
      font-weight: bold;
      font-size: 20px;
      color: $red-ish-color;
      // position: absolute;
    }
  }

  @media screen and (max-width: 991px) {
    ol, ul {
      width: 75%;
      li {
        font-size: 1.2em;
      }
    }
  }
  @media screen and (max-width: 576px) {
    ol, ul {
      width: 100%;
      li {
        font-size: 1em;
      }
    }
  }
}

